<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.athudong.video"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 第一次启动时的海选界面 -->
        <activity
            android:name="com.athudong.video.SelectFirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name="com.athudong.video.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 周赛界面 -->
        <activity
            android:name="com.athudong.video.WeekActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 一般的海选界面 -->
        <activity
            android:name="com.athudong.video.SelectNormalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 艺人的个人资料界面 -->
        <activity
            android:name="com.athudong.video.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 艺人的个人视频界面 -->
        <activity
            android:name="com.athudong.video.VideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 艺人的个人空间界面 -->
        <activity
            android:name="com.athudong.video.ZoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- 艺人注册信息界面 -->
        <activity
            android:name="com.athudong.video.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 账号管理界面 -->
        <activity
            android:name="com.athudong.video.AccountManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
                
        <!-- 消息通知界面 -->
        <activity
            android:name="com.athudong.video.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 明星商城界面 -->
        <activity
            android:name="com.athudong.video.ShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- 明星商城具体物品界面 -->
        <activity
            android:name="com.athudong.video.ShopItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 我的钱包界面 -->
        <activity
            android:name="com.athudong.video.MyWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- 通用设置界面 -->
        <activity
            android:name="com.athudong.video.CommonSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 活动预告界面 -->
        <activity
            android:name="com.athudong.video.ActNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        
        <!-- 我要报名参加界面 -->
        <activity
            android:name="com.athudong.video.ApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 活动细节界面 -->
        <activity
            android:name="com.athudong.video.ActDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 通知列表细节界面 -->
        <activity
            android:name="com.athudong.video.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 比赛时点击图片按钮，展示图片界面 -->
        <activity
            android:name="com.athudong.video.PictureShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- 发表动态界面 -->
        <activity
            android:name="com.athudong.video.SayingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        
        <!-- 欢迎界面 -->
        <activity
            android:name="com.athudong.video.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        
        <!-- 周赛投票结果界面 -->
        <activity
            android:name="com.athudong.video.WeekResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- 动态详细界面 -->
        <activity
            android:name="com.athudong.video.SayingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
    </application>

</manifest>